.adbanner-container {
  width: 100%;
  overflow: hidden; // cache le texte hors écran
  background-color: blue;
  color: white;
  font-family: "Pixel Subway", sans-serif;
  font-weight: 700;
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.adbanner-scroll {
  display: flex;
  width: max-content;
  /* scroll continu */
  animation: scrollText 15s linear infinite;
}

.adbanner-scroll span {
  white-space: nowrap;

  margin-right: 80px;
  // espace entre les messages
}

/* Scroll infini complet */
@keyframes scrollText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
